.profile h3 {
    margin-left: 15px;
    color: aliceblue;
}
.profile  span {
    margin-left: 15px;
    color: aliceblue;
}

.profile img {
    width: 100%;
    object-fit: contain;
}
.likeIcon{
    margin-left: 15px;
}