/*-------Avatar Camera----*/

.profile-wrapper{
    color:rgb(190, 184, 184);
    width:100%
}

.avatar-camera{
    padding-top: 1em;
    margin-left: 20%;
}

#captured-avatar{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 1em;
}

.avatar-icons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: right;
    margin-left:40%;
}

#retake-button{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 6px;
    background-color: teal;
    color:white;
    border:none;
}

.photo-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
}
.photo-tags{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*----camera page-----*/

.camera{
    width:100%;
    margin-top: 58px;
    margin-bottom:5%
}
.captured-photo-information-wrapper{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}
.webcam-btn,
.webcam-btn-retake,
.camera-publish-button{
    width:80%;
    margin-left: 10%;
    border-radius: 20px;
    height:40px;
    font-size: 0.9em;
    background-color: rgb(28, 29, 29);
    border: none;
    color:rgb(79, 167, 158)

}
.camera-publish-button{
    width:80%;
    margin-top: -7px;
}
.camera-description-input,
.camera-tags-input{
    width:80%;
    background-color: rgb(28, 29, 29);
    height:60px;
    padding-top: 30px;
    margin-left: 10%;
    border-radius: 20px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
}
.camera-tags-input{
    margin-top: 0px;
    height: 30px;
    padding-top: 10px;
    font-size: 0.9em;
}
.camera-description-input{
    margin-top: 20px;
}
.captured-photo{
    margin-top: 100px;
}

/*----upload page-----*/
.upload-photo-wrapper{
    width:80%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.upload-photo-label{
    margin-left: 50%;
    font-size: 1em;
    color: rgb(31, 173, 159);
}

textarea:focus{
    outline: none;
}
.description-input,
.tags-input{
    width:80%;
    background-color: rgb(28, 29, 29);
    height:30px;
    padding-top: 15px;
    margin-left: 22%;
    border-radius: 20px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    font-size: 0.8em;
}
.upload-publish-button{
    width:80%;
    margin-left: 22%;
    border-radius: 20px;
    height:40px;
    font-size: 0.9em;
    background-color: rgb(28, 29, 29);
    border: none;
    color:rgb(79, 167, 158)
}

.tags-input{
    margin-top: 0px;
    height: 30px;
    padding-top: 10px;
    font-size: 0.9em;
}
.description-input{
    margin-top: 20px;
}
.upload-placeholder{
    width:80%;
    margin-left: 23%;
    margin-top:50%;
    margin-bottom: 10px;
}
.upload-image{
    width:100%;
    margin-left: 13%;
    margin-top:28%;
    margin-bottom: 10px;
}

/*-----Avatarupload----*/


.avatar-upload-form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.avatar-placeholder,
.avatar-photo{
    width:80px;
    height:80px;
    border-radius: 50%;
}

@media only screen and (min-width: 500px) {
    .upload-placeholder{
        margin-left: 22%;
        margin-top:18%;
        margin-bottom: 10px;
    }
    .upload-photo-label{
        margin-left: 54%;
        font-size: 1em;
    }
    .upload-image{
        width:60%;
        margin-top: 80px;
        margin-left: 18%;   
    }
    .camera{
        margin-top: 80px;
    }
}

@media only screen and (min-width: 768px) {
    .upload-image{
        width:50%;
        margin-top: 5px;
        margin-left: 27%;   
    }
}
@media only screen and (min-width: 1200px) {
    .upload-image{
        width:40%;
        margin-top: 40px;
        margin-left: 42%;    
    }
    .upload-photo-label{
        margin-left: 58%;
        font-size: 1em;
        margin-bottom: -10px;
    }
    .camera{
        width:100%;
        margin-top: 100px;
        margin-bottom:10%
    }
    
    
}

